.search {
    margin-top: 100px;
    min-width: 24rem;
    position: relative;
    left: 4rem;
    margin-right:100px ;
    border-radius: 15px;
    margin-bottom: 25px;

  }
  
 
.btn{
  background-color: blue;
}

  
  

  
  .search-mobile {
    display: block !important;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 100px ;
       margin-top: 100px;
       margin-bottom: 25px;

  }
  
  .search-desktop {
    display: none !important;
    /* background-color: #fff; */
    border-radius: 15px;
    margin-right: 100px ;
       margin-top: 100px;
       margin-bottom: 25px;

  }
  
  @media screen and (min-width: 768px) {
    .hero {
      justify-content: flex-end;
      height: 20rem;
      padding-right: 8rem;
    }
    .hero-heading {
      position: static;
      font-size: 3rem;
      width: 50%;
    }
    .search-mobile {
        margin-right: 100px ;
        margin-top: 100px;
    }
    .search-desktop {
       

    }
  }
  .product-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.5); /* Transparent blue color */
    color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: opacity 0.3s ease; /* Add transition for smooth appearance */
    opacity: 0; /* Initially, make it invisible */
  }
  
  .grid-item:hover .product-banner {
    opacity: 1; /* When hovering over grid item, make the banner visible */
  }
  