.search {
    margin-top: 100px;
    min-width: 24rem;
    position: relative;
    left: 4rem;
    margin-right:100px ;
    border-radius: 15px;

  }
  
 
  
  .product-grid {
    width: 100%;
  }
  

  
  

  
  .search-mobile {
    display: block !important;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 100px ;
       margin-top: 100px;
  }
  
  .search-desktop {
    display: none !important;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 100px ;
       margin-top: 100px;
  }
  
  @media screen and (min-width: 768px) {
    .hero {
      justify-content: flex-end;
      height: 20rem;
      padding-right: 8rem;
    }
    .hero-heading {
      position: static;
      font-size: 3rem;
      width: 50%;
    }
    .search-mobile {
        margin-right: 100px ;
        margin-top: 100px;
    }
    .search-desktop {
       

    }
  }